<!---->

<launch>

<!-- Robot pose ekf -->
  <node pkg="robot_pose_ekf" type="robot_pose_ekf" name="robot_pose_ekf" output="screen">
    <param name="freq" value="30.0"/>
    <param name="sensor_timeout" value="1.0"/>
    <param name="odom_used" value="true"/>
	<remap from="odom" to="/odometry_back"/>
	
    <param name="imu_used" value="false"/>
	<!--<remap from="imu_data" to="/imu"/>-->
    <param name="vo_used" value="false"/>
	<!--<remap from="vo" to="/odometry_front"/>-->
	<remap from="vo" to="/laser_odometry"/>
 	<param name="output_frame" value="odom"/>
  	<param name="base_footprint_frame" value="base_link"/>
   
  </node>



</launch>
