<!---->
<launch>

	<node pkg="fieldrobot_event2016" type="detect_ball" name="detect_ball_right" output="screen">
		<param name="image_raw" value="/usb_cam_right/image_raw"/>
		<param name="image_out1" value="/binar_image_right"/>
		<param name="image_out2" value="/result_right"/>
		<param name="show_trackbar" value="false"/>
		<param name="camera_frame" value="camera_frame_right"/>
		<param name="rad_min" value="50" />		
		<param name="rad_max" value="90" />	
		<param name="ball_detected_pub" value="/joy/button_RT"/>
	</node>

<node pkg="fieldrobot_event2016" type="detect_ball" name="detect_ball_left" output="screen">
		<param name="image_raw" value="/usb_cam_left/image_raw"/>
		<param name="image_out1" value="/binar_image_left"/>
		<param name="image_out2" value="/result_left"/>
		<param name="show_trackbar" value="false"/>
		<param name="camera_frame" value="camera_frame_left"/>
		<param name="rad_min" value="50" />		
		<param name="rad_max" value="90" />	
		<param name="ball_detected_pub" value="/joy/button_RT"/>

	</node>

</launch>
