<!--starting the basic functions and sensors of the robot -->
<launch>
	<!--start laserscanners with overlay of the positions-->
	<include file="$(find fieldrobot_05)/launch/sensors/start_laserscanners.launch"/>
	<!--start imu -->
	<include file="$(find fieldrobot_05)/launch/sensors/start_imu.launch"/>
	<!--start kinect2 
	<include file="$(find fieldrobot_05)/launch/sensors/start_kinect2.launch"/>-->
	<!--start joystick-->
	<include file="$(find fieldrobot_05)/launch/actors/start_joystick.launch"/>
	<!-- start motorcontrollers (allways with overlay of joystick controll -->
<!--	<include file="$(find fieldrobot_05)/launch/actors/start_motorcontrollers.launch"/>
<include file="$(find fieldrobot_05)/launch/actors/start_motorcontrollers2.launch"/>-->
	<!-- start the robot model-->
	<include file="$(find fieldrobot_05)/launch/robot_model/start_robot_model.launch"/>
	<!--start local positioning with odometry and imu input-->
	<include file="$(find fieldrobot_05)/launch/robot_model/start_odometry.launch"/>
</launch>
